$bgColor: #a96462;
$contrastColor: #f2e2c6;

html {
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif !important;
  background-color: $bgColor !important;
}

body {
  background-color: $bgColor !important;
  color: $contrastColor !important;
}

.brad {
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px 0px !important;
}

.auto-marginator:last-child {
  margin-bottom: 0 !important;
}

a {
  color: $contrastColor !important;
}
