$body-bg: #FFBF7A;
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;

$utilities: (
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

@import 'node_modules/bootstrap/scss/bootstrap';

html {
  font-size: 14px;
}

.brad {
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px 0px !important;
}

.auto-marginator:last-child {
  margin-bottom: 0 !important;
}

a {
  color: #38250b;
}

.form-control, .form-select {
  background-color: white;
  border: 1px solid #d9dbde;
  padding: .4375rem .75rem;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden !important;
}